<!--<div class="col-sm-8 blog-main">
 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Topics<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><%= render @topics %></li>
  </ul>
</div>
-->
<div class="col-sm-8 blog-main">
  <div class="sibling-fade">
    <%= render @topics %>
  </div>
</div>
