<div class="app-card-container">
  <div class="card">
    <h1>A little about me</h1>
    <hr>

    <div class="row">
      <div class="col-md-8" style="margin-right: -153px;">
        <%= image_tag "19400215_10209479359887940_2558843475561529934_o.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>

      <div class="col-md-4">
        <p>I do programming, stuff, and things.
          I do programming, stuff, and things.
          I do programming, stuff, and things.
          I do programming, stuff, and things.
          I do programming, stuff, and things.</p>
      </div>
    </div>

  </div>
</div>


