<div class="app-card-container contact-container">
  <div class="card contact-card">
    <h1>Contact Me</h1>
    <hr>
        <h3>Address</h3>

        <p>3816 Quail Ridge Dr <br> Moore, Ok. 73160</p>
        <h3>Phone</h3>

        <p><%= number_to_phone "4053088523" %></p>
    <div class="social-icons">
      <a href="https://www.facebook.com/gabrielmpayne"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/gabspayne"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.twitter.com/gabempayne"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a href="https://www.github.com/gabempayne"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="mailto:gabrielmpayne@gmail.com?Subject=Hello%20Sir" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
  </div>
</div>




