<div class="row"></div>
  <h1>Contact Me</h1>
  <br>
  <h4>Gabe Payne</h4>
  <br>
  <h6>Address</h6>
  <p>3816 Quail Ridge Dr <br> Moore, Ok. 73160</p>
 <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3256.1629330796645!2d-97.4617980851849!3d35.30193278028446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b26a8d4c86f2e1%3A0x6c93bcaf818e6702!2s3816+Quail+Ridge+Dr%2C+Moore%2C+OK+73160!5e0!3m2!1sen!2sus!4v1496635919916" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
  <p><%= number_to_phone "4053088523" %></p>
  <p><a href="http://www.twitter.com/gabempayne"><i class="fa fa-twitter fa-3x"" aria-hidden="true"></i></a></p>
  <p><a href="http://www.instagram.com/gabspayne"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></p>
</div>





